.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
  animation: fly-in 0.5s ease;
}
.login-form label {
  color: #585858;
  display: block;
  margin: 30px auto;
}
.login-form span {
  display: block;
  margin-bottom: 6px;
}
.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}

@keyframes fly-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
